GDBSERVER_DIR2=C:\Users\zhj\AppData\Local\Android\sdk\ndk-bundle\prebuilt\android-arm\gdbserver
GDBSERVER_DIR=C:\Users\Administrator\AppData\Local\Android\sdk\ndk-bundle\prebuilt\android-arm\gdbserver
ADB_DIR=G:\platform-tools
GDB_DIR2=C:\Users\zhj\AppData\Local\Android\sdk\ndk-bundle\prebuilt\windows-x86_64\bin
GDB_DIR=C:\Users\Administrator\AppData\Local\Android\sdk\ndk-bundle\prebuilt\windows-x86_64\bin